@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans&family=Poppins:wght@600;700&display=swap');
:root{
  --bg-main:#131722;
  --text-color : #fff;
  --font-main :'Montserrat Alternates', sans-serif;
  --bg-Transparent:rgba(36,186,239,.6);
  --light-main:#24baef;
  --border-color:#a8a8a83d;
  --secondFontColor:#949cb0;
}
body{
  background-color: var(--bg-main);
  color: var(--text-color);
  font-family: var(--font-main);
  
}
.bg-light-main{

  background-color: var(--light-main);
}
a,a:hover
{
  text-decoration: none;
  color: var(--text-color);
}
.my-input{
  background-color: transparent;
  color: var(--text-color) ;
  border: solid 1px var(--border-color);
}
.brdrLine{
  height: 1px;
  background-color: var(--border-color);
}
.vote{
  background-color: var(--light-main);
  color: var(--text-color);
  top:-5px;
  right:-5px;
}
.bg-light-main{
  background-color: var(--light-main);
  color: var(--text-color);
  padding: 5px 10px; 
  border-radius: 5px;
}
.textMuted{
  color: var(--secondFontColor);
}